.head {
  width: 100%;
  height: 100vh;
  background-image: url("/images/image1.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  color: white;
}

.navbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #5474fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 14px;
}

.hero-content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-content h1 {
  font-size: 48px;
}

.hero-content h2 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  width: 450px;
  margin: 20px;
  padding: 10px;
}

.search-box input {
  border: white;
  border-width: 20px;
  padding: 10px;
  width: 100%;
  height: auto;
  outline: white;
  text-align: center;
}

.search-box button {
  background-color: #5474fd;
  color: white;
  border: white;
  width: 50%;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  font-size: 48;
}