.head {
  width: 100%;
  height: 100vh;
  background-image: url("/images/image1.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  text-align: center;
  position: relative;
  color: white;
  overflow-x: hidden;
  background-repeat: no-repeat;
}

.navbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #5474fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 14px;
}

.hero-content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-content h1 {
  font-size: 48px;
}

.hero-content h2 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  width: 450px;
  margin: 20px;
  padding: 10px;
}

.search-box input {
  border: white;
  border-width: 20px;
  padding: 10px;
  width: 100%;
  height: auto;
  outline: white;
  text-align: center;
}

.search-box button {
  background-color: #5474fd;
  color: white;
  border: white;
  width: 50%;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 48;
}

.why-chooseus {
  width: 100%;
  height: 100vh;
  background-image: url("/images/imageS1B.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  color: white;
}

.why-chooseus button {
  display: inline-block;
  background: #496bfe;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 10px;
}

.why-chooseus .images img {
  width: 250px;
  margin-left: 10px;
  display: inline-block;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 50px;
  background: #333333;
}

/*
.arch img {
  position: absolute;
  top: -30px;
  max-width: 400px;
  transform: translateX(0%);
}
  */
.steps-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.step {
  text-align: center;
  margin: 0 30px;
}

.step span {
  font-size: 30px;
}
.step span p {
  margin-top: 10px;
}

.grand-spain {
  width: 100%;
  height: 100vh;
  background-image: url("/images/imageS2B.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: white;
}

.grand-spain .content {
  display: block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: #232323;
  padding: 40px;
  height: 200px;
  width: 400px;
  opacity: 0.9;
  margin-left: 100px;
}
.grand-spain .content h4,
.grand-spain .content h3,
.grand-spain .content p {
  margin-bottom: 10px;
}

.grand-spain button {
  display: inline-block;
  background: #496bfe;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 10px;
  padding: 15px;
  width: 50%;
}

.grand-spain2 {
  width: 100%;
  height: 100vh;
  background-image: url("/images/imageS3B.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: end;
  position: relative;
  color: white;
}

.grand-spain2 .content {
  display: block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: #232323;
  padding: 40px;
  height: 200px;
  width: 400px;
  opacity: 0.9;
  margin-right: 100px;
}
.grand-spain2 .content h4,
.grand-spain2 .content h3,
.grand-spain2 .content p {
  margin-bottom: 10px;
}

.grand-spain2 button {
  display: inline-block;
  background: #496bfe;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 10px;
  padding: 15px;
  width: 50%;
}

.feedback {
  width: 100%;
  height: 100vh;
  background-image: url("/images/imageS4B.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  position: relative;
  color: white;
}

.feedback .contentf {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #232323;
  padding: 40px;
  height: 200px;
  width: 400px;
  opacity: 0.9;
  margin-right: 100px;
}
.feedback .contentf h4,
.feedback .contentf h3,
.feedback .contentf p {
  margin-bottom: 10px;
}

.imgagec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}